/*  Current text color for H1-H4 and div borders: #0033cc (dark blue)       previous: #b23aee (light purple)  */

html {
    /* background: url(../images/orchiddream.jpeg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #ffffff;
    background-color: #000000;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#bg-image {
    z-index: -999;
    min-height: 100%;
    /* min-width: 940px; */
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

div#wrapper {
    width: 80%;
    background-color: #000000;
    /* content background color */
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-indent: 20px;
    /*  border: thin solid #000000;  */
    border: 1px solid #0033cc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* Get rid of corner bleed  */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*Box Shadow*/
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

div#sidebar {
    float: right;
    width: 15%;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-indent: 20px;
    /*  border: thin solid #000000;  */
    border: 1px solid #0033cc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* Get rid of corner bleed  */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*Box Shadow*/
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

div#header {
    color: fdd017;
    /* font color for header, bright gold */
    width: 60%;
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    /* adjust height for saxkids logo */
    text-align: center;
    /* Set Rounded Corners */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    border: 1px solid #0033cc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* Get rid of corner bleed  */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*Box Shadow*/
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

@media (max-width:500px) {
    div#header {
        padding-left: 5px;
        padding-right: 5px;
        width: 90%;
        height: auto;
    }
    .verticalLine {
        display: none;
    }
}

div#nav {
    width: 25%;
    padding: 10px;
    margin-top: 1px;
    float: left;
}

div#main {
    margin-left: 30%;
    margin-top: 1px;
    margin-bottom: 20px;
    padding: 10px;
}

div#footer {
    color: #0033cc;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 80%;
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-indent: 20px;
    /*  border: thin solid #000000;  */
    border: 1px solid #0033cc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* Get rid of corner bleed  */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*Box Shadow*/
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

a:link {
    text-decoration: none;
    color: #fdd017;
}

a:visited {
    text-decoration: none;
    color: #fdd017;
}

a:hover {
    text-decoration: underline;
    color: #660033;
}

a:active {
    text-decoration: none;
    color: #fdd017;
}

H1 {
    color: #0033cc;
    text-shadow: 1px 1px 1px #660033
}

H2 {
    color: #0033cc;
    text-shadow: 1px 1px 1px #660033
}

H3 {
    color: #0033cc;
    text-shadow: 1px 1px 1px #660033
}

H4 {
    color: #0033cc;
    text-shadow: 1px 1px 1px #660033
}

H5 {
    color: #0033cc;
    text-shadow: 1px 1px 1px #660033
}

HR {
    background-color: #0033cc;
    color: #0033cc;
    height: 1px;
    border: 0;
}

H1.header {
    color: #fdd017;
    font-family: Georgia, serif;
    text-shadow: 1px 1px #0033cc;
}

H3.header {
    color: #fdd017;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px #0033cc;
}

.verticalLine {
    width: 30px;
    background-color: #fdd017;
    height: 120px;
    float: left;
    border: 5px #d4a017;
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.floatLeft {
    float: left;
    padding: 5px 15px 5px 15px;
    max-width: 100%;
    max-height: 100%;
}

img.floatRight {
    float: right;
    padding: 5px 15px 5px 15px;
    max-width: 100%;
    max-height: 100%;
}

td {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    /* color: #333333;
  background-color: #ffffff;  test comment out css to eliminate whitespace*/
    vertical-align: text-top;
}